//BEGIN footer
footer#footer.footer
  .container
    .footer__left
      .section-title.caps Ready to give a new life to your home?
    .footer__right
      .footer__title.h2 Call us – <a href="tel:9167101007">(916) 710-1007</a>
      .footer__or.h4 or
      .footer__title.h2 Fill out the form
      form.footer__form#footer__form
        .footer__form-row
          input(name="name" placeholder="Full name *" required).footer__input
          input(name="phone" placeholder="Mobile phone *" required).footer__input
        .footer__form-row
          input(name="email" placeholder="Email *" required).footer__input
          input(name="zip" placeholder="ZIP *" required).footer__input
        .footer__form-row
          textarea(name="description" placeholder="Describe your task *").footer__textarea
        //- input(name="name" placeholder="Your name" required).footer__input
        //- input(name="phone" placeholder="Phone number" required).footer__input
        .footer__form-bottom
          .footer__form-bottom-text.tech By clicking the send request button, you consent to the processing of personal data and agree to our privacy policy.
          //input(type='submit')
          button.btn-arrow.footer__form-btn
            span Send Request
            +svg('btn-arr')
      //- form.footer__form#footer__form
        iframe#inline-NrXmaEMcU9Dr4IXu0yPL(
          src='https://link.coastland.media/widget/form/NrXmaEMcU9Dr4IXu0yPL' 
          style='width:100%;height:100%;border:none;border-radius:0px;' 
          data-layout="{'id':'INLINE'}" 
          data-trigger-type='alwaysShow' 
          data-trigger-value='' 
          data-activation-type='alwaysActivated' 
          data-activation-value='' 
          data-deactivation-type='neverDeactivate' 
          data-deactivation-value='' 
          data-form-name='Website Form' 
          data-height='689' 
          data-layout-iframe-id='inline-NrXmaEMcU9Dr4IXu0yPL' 
          data-form-id='NrXmaEMcU9Dr4IXu0yPL' 
          title='Website Form')
//END   footer