//- chat-widget(
  location-id='BYgFXbXatYF1Kj6Xez64' 
  style='--chat-widget-primary-color: #FDC600; --chat-widget-active-color:#FDC600 ;--chat-widget-bubble-color: #FDC600 ;' 
  success-msg='One of our team members will contact you shortly.' 
  agency-name='Coastland Media' agency-website='https://coastland.media' 
  locale='en-us' 
  primary-color='#FDC600')


//- script(src='https://link.coastland.media/js/form_embed.js')
//- script(src='https://widgets.leadconnectorhq.com/loader.js' 
//- data-resources-url='https://widgets.leadconnectorhq.com/chat-widget/loader.js')
script(src='assets/js/foundation.js')
script(src='assets/js/app.js')